absl-py==0.6.1
astor==0.7.1
audioread==2.1.6
bandmat==0.7
certifi==2018.11.29
cycler==0.10.0
Cython==0.29.2
decorator==4.3.0
docopt==0.6.2
falcon==1.4.1
fastdtw==0.3.2
gast==0.2.0
grpcio==1.16.1
h5py==2.9.0
inflect==2.1.0
joblib==0.13.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.26.0
Markdown==3.0.1
matplotlib==3.0.2
mkl-fft==1.0.6
mkl-random==1.0.2
nnmnkwii==0.0.17
nose==1.3.7
numba==0.41.0
numpy==1.15.4
protobuf==3.6.1
PyAudio==0.2.11
pyparsing==2.3.0
pysptk==0.1.14
python-dateutil==2.7.5
python-mimeparse==1.6.0
PyYAML==3.13
resampy==0.2.1
scikit-learn==0.20.2
scipy==1.1.0
six==1.12.0
sklearn==0.0
tensorboard==1.9.0
tensorboardX==1.5
tensorflow==1.9.0
termcolor==1.1.0
torch==1.0.0
tqdm==4.28.1
Unidecode==1.0.23
-e git+git@github.com:lmxyy/English-TTS.git@140322b36ce5000bfe3444a08f5ef574a86339c4#egg=wavenet_vocoder&subdirectory=wavenet_vocoder
Werkzeug==0.14.1
